.bg-image {
  height: 430px;
  width: 380px;
}

.forma-imagen {
  box-shadow: 0px 7px 10px black !important;
}

.icono-1 {
  height: 140px;
  width: 140px;
}

.texto-menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

.texto-menu li a {
  font-size: 1.5rem;
}

.imgblackwhite {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/wallpaper-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead2 {
  background-image: url('../images/wallpaper-2.jpg');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

}

.masthead3 {
  height: 60vh;
  min-height: 250px;
  background-image: url('../images/banner-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imagen1-texto1 {
  color: #FFF;
  font-weight: bold !important;
  font-size: 3vw;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagen1-texto2 {
  color: rgb(240, 119, 20);
  font-weight: bold !important;
  font-size: 4vw;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-3 {
  color: rgb(65, 65, 65);
  font-weight: bold !important;
  font-size: 50px;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.texto-footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.bg-background {
  background-image: linear-gradient(35deg, #b46c00 15%, #ffc04b 100%);
}

.bg-colorfooter {
  background-color: rgb(53, 53, 53);
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF !important;
  font-weight: 500;
}

.iconoblanco {
  color: #fff;

}

.photo-gallery {
  background-color: #e7e7e7;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}

.fade-in2 {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}






@media (max-width: 576px) {
  .card-img-top {
    height: 280px;
  }

  .card-deck {
    width: 200px;
  }

  .imagen1-texto1 {
    font-size: 1.5rem;
  }

  .imagen1-texto2 {
    font-size: 2rem;
  }

  .pricingTable .price-value .amount{
    font-size: 10vw;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .card-img-top {
    height: 280px;
  }

  .card-deck {
    width: 200px;
  }

  .imagen1-texto1 {
    font-size: 1.5rem;
  }

  .imagen1-texto2 {
    font-size: 2rem;
  }

  .pricingTable .price-value .amount{
    font-size: 6vw;
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .card-img-top {
    height: 380px;
  }

  .card-deck {
    width: 250px;
  }

  .pricingTable .price-value .amount{
    font-size: 5vw;
  }
}


@media (min-width: 992px) and (max-width: 1200px) {
  .card-img-top {
    height: 400px;
  }

  .card-deck {
    width: 320px;
  }

  #navbarSupportedContent {
    margin-left: 0;
  }

  .link-secondary>svg:hover {
    transition: all 0.25s;
    color: orange !important;
  }

  .pricingTable .price-value .amount{
    font-size: 5vw;
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {
  .card-img-top {
    height: 440px;
  }

  .card-deck {
    width: 350px;
  }

  #navbarSupportedContent {
    margin-left: 200px;
  }

  .link-secondary>svg:hover {
    transition: all 0.25s;
    color: orange !important;
  }

  .pricingTable .price-value .amount{
    font-size: 4vw;
  }
}


@media (min-width: 1400px) {
  .card-img-top {
    height: 480px;
  }

  .card-deck {
    width: 350px;
  }

  #navbarSupportedContent {
    margin-left: 200px;
  }

  .link-secondary>svg:hover {
    transition: all 0.25s;
    color: orange !important;
  }

  .pricingTable .price-value .amount{
    font-size: 4vw;
  }
}

.carousel-item-div {
  border-radius: 20px;
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 105% 105%;
  background-position: center;
  background-position: center;
}

.carousel-item-div>div {
  border-radius: 20px;
}

.carousel-item-div,
.carousel-item-div * {
  transition: all 1s !important;
}

.carousel-item-div:hover {
  background-size: 100% 100% !important;
}

.carousel-item-div:hover>div {
  background-color: rgba(0, 0, 0, 0) !important;
}

.carousel-item-div h2 {
  opacity: .7;
  text-shadow: black 2px 2px 5px;
  text-transform: uppercase;
}

.carousel-item-div:hover h2 {
  opacity: 1;
  letter-spacing: 2px;
}

.degrade {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(214, 207, 214, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(214, 207, 214, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(214, 207, 214, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(214, 207, 214, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(214, 207, 214, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 47%, rgba(214, 207, 214, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d6cfd6', GradientType=0);
}

.degrade2{
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 93%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,1)), color-stop(84%, rgba(246,246,246,1)), color-stop(93%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 93%, rgba(237,237,237,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 93%, rgba(237,237,237,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 93%, rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 93%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.pricingTable{
  background: #fff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 20px 0 30px;
}
.pricingTable .pricingTable-header{
  color: #fff;
  /* background: linear-gradient(to right,#00c7c0,#00b3c3); */
  background: linear-gradient(35deg, #f31d64 15%, #ff5fa9 100%);
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  padding: 30px 20px 70px;
  margin: 0 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  border-radius: 10px;
  background-color: #FAFAFA;
  border: solid #CCCCCC;
  border-bottom: 3px outset #CCCCCC;
}
.pricingTable .pricingTable-header2{
  color: #fff;
  /* background: linear-gradient(to right,#00c7c0,#00b3c3); */
  background: linear-gradient(35deg, #0045da 15%, #74bdfd 100%);
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  padding: 30px 20px 70px;
  margin: 0 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  border-radius: 10px;
  background-color: #FAFAFA;
  border: solid #CCCCCC;
  border-bottom: 3px outset #CCCCCC;
}
.pricingTable .pricingTable-header3{
  color: #fff;
  /* background: linear-gradient(to right,#00c7c0,#00b3c3); */
  background: linear-gradient(35deg, #fdf500 15%, #feff006b 100%);
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  padding: 30px 20px 70px;
  margin: 0 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  border-radius: 10px;
  background-color: #FAFAFA;
  border: solid #CCCCCC;
  border-bottom: 3px outset #CCCCCC;
}
.pricingTable .pricingTable-header4{
  color: #fff;
  /* background: linear-gradient(to right,#00c7c0,#00b3c3); */
  background: linear-gradient(35deg, #028f0e 15%, #6cff4b 100%);
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  padding: 30px 20px 70px;
  margin: 0 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  border-radius: 10px;
  background-color: #FAFAFA;
  border: solid #CCCCCC;
  border-bottom: 3px outset #CCCCCC;
}
.pricingTable .pricingTable-header5{
  color: #fff;
  /* background: linear-gradient(to right,#00c7c0,#00b3c3); */
  background: linear-gradient(35deg, #b46c00 15%, #ffc04b 100%);
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  padding: 30px 20px 70px;
  margin: 0 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  border-radius: 10px;
  background-color: #FAFAFA;
  border: solid #CCCCCC;
  border-bottom: 3px outset #CCCCCC;
}
.pricingTable .price-value{  }
.pricingTable .price-value .amount{
  /* font-size: 90px; */
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  font-weight: 500;
  text-align: center;
  line-height: 80px;
  /* display: inline-block; */
}
.pricingTable .price-value .currency{
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  vertical-align: top;
  display: inline-block;
}
.pricingTable .price-value .duration{
  text-shadow: 4px 3px 15px rgba(44,27,27,0.87);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 0 -20px;
  display: inline-block;
  text-align: center;
}
.pricingTable .title{
  color: #222120;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 4px 3px 15px rgba(44,27,27,0.35);
  margin: 0 0 30px;
}
.pricingTable .pricing-content{
  font-family: 'Lato', sans-serif;
  padding: 0 0px;
  margin: 0 0 30px;
  list-style: none;
}
.pricingTable .pricing-content li{
  color: #555;
  background: #efefef;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 15px 5px 50px;
  margin: 0 0 5px;
  position: relative;
  border-radius: 15px;
  background-color: #FAFAFA;
  border-bottom: 4px outset #CCCCCC;
}
.pricingTable .pricing-content li:last-child{ margin-bottom: 0; }
.pricingTable .pricing-content li:before{
  content: "\f00c";
  color: #fff;
  background: linear-gradient(35deg, #f31d64 15%, #ff5fa9 100%);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}


.pricingTable .pricing-content2{
  font-family: 'Lato', sans-serif;
  padding: 0 0px;
  margin: 0 0 30px;
  list-style: none;
}
.pricingTable .pricing-content2 li{
  color: #555;
  background: #efefef;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 15px 5px 50px;
  margin: 0 0 5px;
  position: relative;
  border-radius: 15px;
  background-color: #FAFAFA;
  border-bottom: 4px outset #CCCCCC;
}
.pricingTable .pricing-content2 li:last-child{ margin-bottom: 0; }
.pricingTable .pricing-content2 li:before{
  content: "\f00c";
  color: #fff;
  background: linear-gradient(35deg, #0045da 15%, #74bdfd 100%);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.pricingTable .pricing-content3{
  font-family: 'Lato', sans-serif;
  padding: 0 0px;
  margin: 0 0 30px;
  list-style: none;
}
.pricingTable .pricing-content3 li{
  color: #555;
  background: #efefef;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 15px 5px 50px;
  margin: 0 0 5px;
  position: relative;
  border-radius: 15px;
  background-color: #FAFAFA;
  border-bottom: 4px outset #CCCCCC;
}
.pricingTable .pricing-content3 li:last-child{ margin-bottom: 0; }
.pricingTable .pricing-content3 li:before{
  content: "\f00c";
  color: #fff;
  background: linear-gradient(35deg, #fdf500 15%, #feff006b 100%);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.pricingTable .pricing-content4{
  font-family: 'Lato', sans-serif;
  padding: 0 0px;
  margin: 0 0 30px;
  list-style: none;
}
.pricingTable .pricing-content4 li{
  color: #555;
  background: #efefef;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 15px 5px 50px;
  margin: 0 0 5px;
  position: relative;
  border-radius: 15px;
  background-color: #FAFAFA;
  border-bottom: 4px outset #CCCCCC;
}
.pricingTable .pricing-content4 li:last-child{ margin-bottom: 0; }
.pricingTable .pricing-content4 li:before{
  content: "\f00c";
  color: #fff;
  background: linear-gradient(35deg, #028f0e 15%, #6cff4b 100%);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.pricingTable .pricing-content5{
  font-family: 'Lato', sans-serif;
  padding: 0 0px;
  margin: 0 0 30px;
  list-style: none;
}
.pricingTable .pricing-content5 li{
  color: #555;
  background: #efefef;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  padding: 5px 15px 5px 50px;
  margin: 0 0 5px;
  position: relative;
  border-radius: 15px;
  background-color: #FAFAFA;
  border-bottom: 4px outset #CCCCCC;
}
.pricingTable .pricing-content5 li:last-child{ margin-bottom: 0; }
.pricingTable .pricing-content5 li:before{
  content: "\f00c";
  color: #fff;
  background: linear-gradient(35deg, #b46c00 15%, #ffc04b 100%);
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}


.pricingTable .pricing-content li.disable:before{ content: "\f00d"; }
.pricingTable .pricingTable-signup a{
  color: #fff;
  background: linear-gradient(35deg, #b46c00 15%, #ffc04b 100%);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 30px 4px;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s;
}
.pricingTable .pricingTable-signup a:hover{
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.pricingTable.purple .pricingTable-header,
.pricingTable.purple .pricing-content li:before,
.pricingTable.purple .pricingTable-signup a{
  background: linear-gradient(to right,#dd3e71,#974686);
}
.pricingTable.purple .title{ color: #dd3e71; }
.pricingTable.yellow .pricingTable-header,
.pricingTable.yellow .pricing-content li:before,
.pricingTable.yellow .pricingTable-signup a{
  background: linear-gradient(to right,#85ba41,#56ab2f);
}
.pricingTable.yellow .title{ color: #85ba41; }
@media only screen and (max-width: 990px){
  .pricingTable{ margin: 0 0 40px 10px; }
}